PORT=The port number for the application
MONGODB_USER=MongoDB username for authentication
MONGODB_PASSWORD=MongoDB password for authentication
MONGODB_URL=MongoDB connection URL
MONGODB_DB=Name of the MongoDB database to use

SMTP_HOST=SMTP username server host
SMTP_PORT=SMTP username server port
SMTP_USER=SMTP username for authentication
SMTP_PASSWORD=SMTP password for authentication
SMTP_FROM=The email address to use as the "From" address in outgoing emails

JWT_SECRET=Secret key for signing JWT tokens

APP_DOMAIN=The domain of the application

CLOUD_NAME=Cloudinary cloud name for file uploads
API_KEY=Cloudinary API key for authentication
API_SECRET=Cloudinary API secret for authentication
